certifi==2024.7.4
charset-normalizer==3.3.2
fuzzywuzzy==0.18.0
idna==3.7
Levenshtein==0.25.1
numpy==2.1.0
opencv-python==4.10.0.84
pillow==10.4.0
python-Levenshtein==0.25.1
rapidfuzz==3.9.6
redis==5.0.8
requests==2.32.3
spotipy==2.24.0
urllib3==2.2.2
